#meny {
	position: fixed;
	height: 100%;
	width: 100%;
	background: red;
}

#karta {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #fff;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}